
    .header{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        max-width: 1140px;
        justify-content: center;
    }

    .elementor-row {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .image {
        /*padding: 0px 0px 0px 0px;*/
        padding:0.4em; 
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /*padding-right: 40px;*/
    }

    .imag{
        height: 43px;
        max-width: 170px;
    }

    @media (min-width: 660px) {
        .imag{
            height: 50px;
        }
    }